:root {
    --bs-font-sans-serif: "Courier Prime", monospace;
    --bs-primary: #555555;
    --bs-secondary: #ffbf00;
}

body {
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--bs-secondary);
}

a {
    text-decoration: none;
}

#header-div, #footer-div {
    background-color: var(--bs-primary);
}

#hero-btn {
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-secondary);
}

#location-card {
    background-color: var(--bs-primary);
}

#location-card-text {
    color: var(--bs-secondary);
}