:root {
    --vv-font-sans-serif: "Courier Prime", monospace;
    --vv-primary: #555555;
    --vv-secondary: #ffbf00;
}

body {
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--vv-secondary);
}

a {
    text-decoration: none;
}

.bg-vv-primary {
    background-color: var(--vv-primary);
}

.color-vv-primary {
    color: var(--vv-secondary);
}

.btn-vv-primary {
    --bs-btn-color: var(--vv-primary);
    --bs-btn-bg: var(--vv-secondary);
    --bs-btn-border-color: var(--vv-secondary);
}

.btn-vv-secondary {
    --bs-btn-color: var(--vv-secondary);
    --bs-btn-bg: var(--vv-primary);
    --bs-btn-border-color: var(--vv-primary);
}

