:root {
    --vv-font-sans-serif: "Courier Prime", monospace;
    --vv-primary: #444345;
    --vv-secondary: #c49841;
}

body {
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--vv-secondary);
}

#header {
    background-image: url(./la_banner.JPG);
    background-size: cover;
}

#header-main {
    width: 50%;
    height: auto;
}

a {
    text-decoration: none;
}

.bg-vv-primary {
    background-color: var(--vv-primary);
    color: #ffffff;
}

.bg-vv-secondary {
    background-color: var(--vv-secondary);
    color: var(--vv-primary);
}

.color-vv-primary {
    color: var(--vv-secondary);
}

.color-vv-secondary {
    color: var(--vv-primary);
}

.btn-vv-primary {
    --bs-btn-color: var(--vv-primary);
    --bs-btn-bg: var(--vv-secondary);
    --bs-btn-border-color: var(--vv-secondary);
}

.btn-vv-secondary {
    --bs-btn-color: var(--vv-secondary);
    --bs-btn-bg: var(--vv-primary);
    --bs-btn-border-color: var(--vv-primary);
}

.nav-item a {
    color: #c49841;
}

.nav-item a:hover {
    color: #ffffff;
}

#active {
    color: #ffffff;
}

